@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #C4E5F2 !important;
    font: 400 14px Roboto, sans-serif;
}

#conteudo {
    background-color: white;
    margin: 0% 10%;
    padding: 0px 0px 5px 0%;
}

.header {
    background-color: wheat;
    padding: 15px 0px 1px 0px;
}

#header {
    border: black 1px solid;
    border-radius: 10px;
    padding: 0 50px;
    margin: 0 30px 20px 30px;
    box-shadow: black 2px 2px 5px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.logo img {
    width: 30%;
    padding: 5px 0;
    margin: 5px 0;
}

.titulo h1 {
    padding: 5px 176px;
    margin: 10px 106px 10px 10px;
}

a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

#navbar {
    background-color: wheat;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px 0px 5px 0px;
    font-weight: bold;
}

#navbar div a {
    color: blue;
}

#navbar div a:hover {
    transition: 700ms;
    color: red;
}

#news {
    margin: 0 30px;

}

.newsDestaque {
    display: flex;
    justify-content: space-between;
    border: gray 0px solid;
    margin: 20px 10px;
    /* border-radius: 10px; */
    box-shadow: grey 0px 4px 3px 0px;
}

.newsDestaque img {
    width: 10%;
    margin: 5px 2%;
}

.newsDestaque h3 {
    text-align: left;
    font-size: 20px;
    margin: 0px 115px 5px 0px;
}

.newsDestaque p {
    margin: 0 5px;
    text-align: justify;
}

.newsDestaqueSobre {
    display: flex;
    justify-content: space-between;
    border: gray 0px solid;
    margin: 20px 25px 20px 10px;
    box-shadow: grey 0px 4px 3px 0px;
}

.newsDestaqueSobre img {
    width: 22%;
    margin: 5px 5% 5px 2%;
}

.newsDestaqueSobre h3 {
    text-align: left;
    font-size: 20px;
    margin: 0px 115px 5px 0px;
}

.newsDestaqueSobre p {
    margin: 0 5px;
    text-align: justify;
}

.perfil {
    border-radius: 30px;
}

.linkedin {
    width: 35%;
}

.textoSobre {
    padding-right: 1%;
    margin-right: 2%;
}

#videos {
    background-color: wheat;
    margin: 0;
    padding: 5px 0px 0px 0px;
}

#videosDestaque {
    display: flex;
    justify-content: left;
    text-shadow: gray 1px 1px 5px;
    margin: 0px 30px;
}

#videosDestaque img {
    width: 4%;
    margin-right: 10px;
}

#videosDestaque h2 {
    margin: 5px 0;
    padding: 5px 5px 2px 5px;
}

#videosDestaqueNews {
    display: flex;
    justify-content: center;
    text-shadow: gray 1px 1px 5px;
    margin: 0px 30px;
}

#videosDestaqueNews img {
    width: 4%;
    margin-right: 10px;
}

#videosDestaqueNews h2 {
    margin: 5px 0;
    padding: 5px 5px 2px 5px;
}

#imagemGeral {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px 20px 0px;
    padding: 20px 0 0 0;
    background-color: wheat;
    justify-content: center;
    text-align-last: center;
}

#imagemGeral div iframe {
    width: 90%;
    margin: 0px 5px;
}

#imgLoja {
    width: 30%;
    
}

#tituloDestaque {
    display: flex;
    justify-content: left;
    text-shadow: gray 1px 1px 5px;
    margin: 0px 30px 10px 30px;
}

#tituloDestaque img {
    width: 4%;
    margin-right: 10px;
}

#tituloDestaque h2 {
    margin: 5px 0;
    padding: 5px 5px 2px 5px;
}

#produtos {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
}

.produtoDestaque {
    border: gray 1px solid;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: gray 2px 2px 3px;
}

.produtoDestaque img {
    width: 70%;
    margin: 0 15% 5% 15%;
}

.produtoDestaque h3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px 0;
}

.produtoDestaque p {
    margin: 10px;
    text-align: justify;
}

#rodape {
    background-color: #D97904;
    display: flex;
    padding: 20px 0 40px 84px;
    color: white;
}

#redesSociais {
    width: 50%;
    margin: 0 -30px;
    padding: 10px 0 80px 0;
}

#redesSociais img {
    width: 6%;
    margin: 5px 0;
}

#email {
    margin: 0 120px 0 10px;
}

#email input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

button {
    background-color: yellow;
    width: 100px;
    height: 45px;
    font-weight: bold;
    border: 0;
    box-shadow: yellowgreen 3px 3px 6px;
    font-size: 20px;
}

#formulario {
    width: 50%;
    margin: 0 100px;
}
